* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(to right top, #44ddd0 0%, #27d7a1 100%);
}
.task-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #f8f8f8;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: #777;
  font-size: 24px;
}

p {
  text-align: left;

  /* justify-content: left; */
  /* align-self: left; */
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.task-form {
  margin-bottom: 32px;
}

.task-searchbox {
  margin: 5px;
  padding: 6px 32px 6px 16px;
  border-radius: 4px;
  border: 2px solid #777;
  outline: none;
  width: 420px;
  background: transparent;
  color: #777;
}
.task-input {
  margin: 5px;
  margin-right: 50px;
  align-items: left;
  padding: 14px 32px 14px 16px;
  border-radius: 4px;
  border: 2px solid #44ddd0;
  outline: none;
  width: 320px;
  background: transparent;
  color: #777;
}

.task-input::placeholder {
  color: #777;
}

.task-button {
  padding: 14px;
  margin-bottom: -15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(to right top, #44ddd0 0%, #27d7a1 100%);
  color: #fff;
  text-transform: capitalize;
}

.task-input.edit {
  border: 2px solid #44ddd0;
}

.task-button.edit {
  background: linear-gradient(to right top, #44ddd0 0%, #27d7a1 100%);
  padding: 16px 22px;
}
.task-row {
  display: flex;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(to right top, #44ddd0 0%, #27d7a1 100%);
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.task-content {
  width: 85%;
}

.icons {
  margin: 5px auto;
  margin-top: -10px;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  color: #fff;
}

.edit-icon {
  color: #fff;
}
